/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
/*@media (max-width: 1600px)*/
	/**********************
		INDEX
    **********************/

			
	/**********************
        PAYMENT
    **********************/	
    		
/*@media (max-width: 1297px)*/
	/**********************
		INDEX
    **********************/
	

	/**********************
        LIST-SERVICIOS
    **********************/

					
	/**********************
        SERVICIO DETALLE
    **********************/
	
	/**********************
        MODALES
    **********************/	
				

// Large devices (desktops, 62em and up)
@media (max-width: 991px)

	/**********************
       INDEX
    **********************/
 	

	/**********************
       LOGIN QUESTION
    **********************/

				
	/**********************
        SERVICIO DETALLE
    **********************/			
							 	
			
	/**********************
        MI-CUENTA
    **********************/
	
				
	/**********************
        NUEVO SERVICIO
    **********************/
	
	/**********************
        ERROR 404
    **********************/					
	.body404-text
		width 80%
		margin 40vh auto 0 auto

// Medium devices (tablets, 48em and up)
@media (max-width: 768px)
	/**********************
        LOGIN
    **********************/			
	body
		font-size 14px
		
	/**********************
    	HEADER
    **********************/	
		
	
	/**********************
        INDEX
    **********************/
	
	/**********************
        ERROR 404
    **********************/						
	.body404
		background-image url("../img/error404-tablet.png")

@media (max-width: 630px)
	/**********************
        LOGIN
    **********************/			

	
	/**********************
       HEADER
    **********************/ 	 						
	    	

	/**********************
        INDEX
    **********************/

					
	/**********************
       LOGIN QUESTION
    **********************/



// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px	
				
	/**********************
        INDEX
    **********************/

						
	/**********************
       LOGIN QUESTION
    **********************/				

	
	/**********************
        MODALES
    **********************/	
