.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  

.rslides_container {
  /*margin-bottom: 50px;*/
  position: relative;
  float: left;
  width: 100%;
}

.caption {
  position: absolute;
  display: block;
  top: 3.5em;
  right: 40%;
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  font-family: 'Montserrat-Bold',sans-serif;
  /*text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);*/
  text-shadow: -5px 5px 5px rgba(0,0,0, 0.3);                 
}





/*****************************************
********* GALERIA PPAL MAGAZINE *********/

.elastislide-list {
  list-style-type: none;
  display: none;
}

.no-js .elastislide-list {
  display: block;
}

.elastislide-carousel ul li {
  min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
  position: relative;
  margin: 0 auto;
  min-height: 60px;
}

.elastislide-wrapper.elastislide-loading {
  background-image: url(../assets/banner-magazine/banner-header/loading.gif);
  background-repeat: no-repeat;
  background-position: center center;
}

.elastislide-horizontal {
  padding: 10px 40px;
}

.elastislide-vertical {
  padding: 40px 10px;
}

.elastislide-carousel {
  overflow: hidden;
  position: relative;
}

.elastislide-carousel ul {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

.elastislide-horizontal ul {
  white-space: nowrap;
}

.elastislide-carousel ul li {
  margin: 0;
  -webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
  height: 100%;
  display: inline-block;
}

.elastislide-vertical ul li {
  display: block;
}

.elastislide-carousel ul li a {
  display: inline-block;
  width: 100%;
}

.elastislide-carousel ul li a img {
  display: block;
  border: 2px solid transparent;
  max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
  position: absolute;
  background: #ddd url(../assets/banner-magazine/banner-header/nav.png) no-repeat 4px 3px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8;
}

.elastislide-wrapper nav span:hover {
  opacity: 1.0
}

.elastislide-horizontal nav span {
  top: 50%;
  left: 10px;
  margin-top: -11px;
}

.elastislide-vertical nav span {
  top: 10px;
  left: 50%;
  margin-left: -11px;
  background-position: -17px 5px;
}

.elastislide-horizontal nav span.elastislide-next {
  right: 10px;
  left: auto;
  background-position: 4px -17px;
}

.elastislide-vertical nav span.elastislide-next {
  bottom: 10px;
  top: auto;
  background-position: -17px -18px;
}









